
/* ----- EMPLOYEE HOMEPAGE ----- */

html
{
    background-color: darkgreen;
}

body
{
    background-color: white;
    margin: 0 auto;
    padding: 2% 2%;
    width: 80%;
}

header
{
    background-color: white;
    font-size: 50px;
    color: black;
    padding: 20px;
}

nav
{
}

#navbar
{
    list-style-type: none;
}

.navbar-item
{
    color: black;
    display: inline;
    float: left;
    font-size: 20px;
    padding: 10px 5px;
    margin-bottom: 10px;
}

.navbar-item:hover
{
    background-color: whitesmoke;
}

footer
{
    border-top: solid black;
    background-color: white;
    font-size: 10px;
    bottom: 0;
    position: absolute;
}

#my-info
{
    background-color: whitesmoke;
    float: left;
    margin-right: 10px;
    width: 30%;
}

#employee-abilities
{
    background-color: whitesmoke;
    float: left;
    padding: 10px;
    width: 60%;
}

#buttonlist
{
    list-style-type: none;
}

.buttons
{
    font-size: 30px;
    margin-bottom: 5px;
    width: 400px;
}

#home
{
    
}

#circles
{
    
}

/*----- Forms -----*/

form
{
    background-color: white;
    color: black;
}